// Transparent
// -----------

$pb_color_transparent: transparent !default;

// Balck & White
// -------------

$pb_color_white: #FFFFFF !default;
$pb_color_black: #000000 !default;
 

// Gray Scale
//-----------

$pb_color_gray10: #E5E5E5 !default;
$pb_color_gray20: #CCCCCC !default;
$pb_color_gray30: #B2B2B2 !default;
$pb_color_gray40: #999999 !default;
$pb_color_gray50: #7F7F7F !default;
$pb_color_gray60: #666666 !default;
$pb_color_gray70: #4C4C4C !default;
$pb_color_gray80: #333333 !default;
$pb_color_gray90: #191919 !default;
