// heading
//--------
$pb_typography-heading-h1_family: 'Roboto', sans-serif !default;
$pb_typography-heading-h2_family: 'Roboto', sans-serif !default;
$pb_typography-heading-h3_family: 'Roboto', sans-serif !default;
$pb_typography-heading-h4_family: 'Roboto', sans-serif !default;
$pb_typography-heading-h5_family: 'Roboto', sans-serif !default;
$pb_typography-heading-h6_family: 'Roboto', sans-serif !default;

$pb_typography-heading-h1_weight: 700 !default;
$pb_typography-heading-h2_weight: 700 !default;
$pb_typography-heading-h3_weight: 700 !default;
$pb_typography-heading-h4_weight: 500 !default;
$pb_typography-heading-h5_weight: 500 !default; 
$pb_typography-heading-h6_weight: 500 !default;

$pb_typography-heading-h1_size: 42px !default;
$pb_typography-heading-h2_size: 32px !default;
$pb_typography-heading-h3_size: 28px !default;
$pb_typography-heading-h4_size: 22px !default;
$pb_typography-heading-h5_size: 18px !default; 
$pb_typography-heading-h6_size: 16px !default;

$pb_typography-heading-h1_space: 46px !default;
$pb_typography-heading-h2_space: 36px !default;
$pb_typography-heading-h3_space: 32px !default;
$pb_typography-heading-h4_space: 26px !default;
$pb_typography-heading-h5_space: 22px !default; 
$pb_typography-heading-h6_space: 18px !default;

$pb_typography-heading-h1_color: $pb_color_black !default;
$pb_typography-heading-h2_color: $pb_color_black !default;
$pb_typography-heading-h3_color: $pb_color_black !default;
$pb_typography-heading-h4_color: $pb_color_black !default;
$pb_typography-heading-h5_color: $pb_color_black !default; 
$pb_typography-heading-h6_color: $pb_color_black !default;


// Textflow
// --------
$pb_typography-text_family: 'Roboto', sans-serif !default;
$pb_typography-text_weight: 400 !default;
$pb_typography-text_size: 16px !default;
$pb_typography-text_space: 18px !default;
$pb_typography-text_color: $pb_color_black !default;


// Navigation
// ----------
$pb_typography-navigation_family: 'Roboto', sans-serif !default;
$pb_typography-navigation_weight: 500 !default;
$pb_typography-navigation_size: 18px !default;
$pb_typography-navigation_space: 22px !default;
$pb_typography-navigation_color: $pb_color_black !default;

// Icons
// -----
$pb_typography-icons_family: 'font-awesome' !default;