/*
 * Brand element styles
 * --------------------
 *
 * Defines the style of the brand element. The brand element shows a logo and
 * optionally a claim
 *
 * © 2020 by Klick&Klar GmbH
 */
 
$pb_element_brand_1_backgroundColor: #FFFFFF;
$pb_element_brand_1_outerSpaceLeft: ###outerSpaceLeft###;
$pb_element_brand_1_outerSpaceRight: ###outerSpaceRight###;
$pb_element_brand_1_innerSpaceTop: ###innerSpaceTop###;
$pb_element_brand_1_innerSpaceRight: ###innerSpaceRight###;
$pb_element_brand_1_innerSpaceBottom: ###innerSpaceBottom###;
$pb_element_brand_1_innerSpaceLeft: ###innerSpaceLeft###;
$pb_element_brand_1_heightMinimized: ###heightMinimized###;
$pb_element_brand_1_heightMaximized: ###heightMaximized###;

