/*
 * Header styles
 * -------------
 *
 * Defines the style of header area. This area is located an top of the Website
 * and contains different elements like logo, navigation, ect.
 *
 * © 2020 by Klick&Klar GmbH
 */

$pb_header_backgroundColor: transparent !default;
$pb_header_animationDuration: $pb_durationMedium !default;
$pb_header_animationEasing: ease_in_out !default;

$pb_headerBarMain_heightMaximized: 70px !default;

$pb_headerBarMain_heightMinimized: 50px !default;

$pb_headerBarMain_backgroundColorMaximized: #FFFFFF !default;
$pb_headerBarMain_backgroundColorMinimized: #FFFFFF !default;

$pb_headerBarMeta_heightMaximized: (
  xs: 100px,
  sm: 100px,
  md: 100px,
  lg: 100px,
  xl: 100px
) !default;

$pb_headerBarMeta_heightMinimized: 0 !default;

$pb_headerBarMeta_backgroundColorMaximized: #FFFFFF !default;
$pb_headerBarMeta_backgroundColorMinimized: #FFFFFF !default;

$pb_header_backgroundColorMaximized: #FFFFFF;

$pb_header_backgroundColorMinimized: #FFFFFF;

$pb_header_minimizeThreshold: (
  xs: 100px,
  sm: 100px,
  md: 100px,
  lg: 100px,
  xl: 100px
);

$pb_header_maximizeThreshold: (
  xs: 10px,
  sm: 10px,
  md: 10px,
  lg: 10px,
  xl: 10px
);

$pb_header_animationDuration: (
  xs: 300px,
  sm: 300px,
  md: 300px,
  lg: 300px,
  xl: 300px
);

$pb_headerBarMain_heightMaximized: (
  xs: 100px,
  sm: 100px,
  md: 100px,
  lg: 100px,
  xl: 100px
);

$pb_headerBarMain_heightMinimized: (
  xs: 60px,
  sm: 60px,
  md: 60px,
  lg: 60px,
  xl: 60px
);

$pb_headerBarMeta_heightMinimized: (
  xs: 60px,
  sm: 60px,
  md: 60px,
  lg: 60px,
  xl: 60px
);
