/*
 * Brand element styles
 * --------------------
 *
 * Defines the style of the brand element. The brand element shows a logo and
 * optionally a claim
 *
 * © 2020 by Klick&Klar GmbH
 */

$pb_brand_backgroundColor: #FFFFFF !default;
$pb_brand_innerSpaceTop: 10px !default;
$pb_brand_innerSpaceRight: 20px !default;
$pb_brand_innerSpaceBottom: 10px !default;
$pb_brand_innerSpaceLeft: 20px !default;
$pb_brand_heightMinimized: 30px !default;
$pb_brand_heightMaximized: 50px !default;
